.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 5px;
}


.card-restaurant-img {
  border-radius: 20%;
  margin: auto;
  width: 100%;
}

.card-restaurant-img:hover, .card-user-img:hover {
  transform: scale(1.5);
  box-shadow: 0px 0px 10px 5px #DC9FB4;
}

.card-user-img {
  border-radius: 20%;
  margin: auto;
  width: 100%;
}
